body {
    font-family: 'Nunito', sans-serif;
}

span {
    position: relative;
    font-size: 0.5em;
    font-weight: bold;
    text-transform: none;
    top: -10px;
}

small {
    margin-top: 5px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #11ffee00, #8c8b8b, #11ffee00);
    background-image: -moz-linear-gradient(left, #11ffee00, #8c8b8b, #11ffee00);
    background-image: -ms-linear-gradient(left, #11ffee00, #8c8b8b, #11ffee00);
    background-image: -o-linear-gradient(left, #11ffee00, #8c8b8b, #11ffee00);
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
}

.content {
    margin: auto;
    margin-top: 30px;
    width: 900px;
    text-align: center;
    padding: 10px 10px 25px 10px;
}

.btn-dl  {
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    padding: 10px 30px 0 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #7dd2ae;
    border-radius: 15px;
}

.btn-dl:hover {
    transition: background-color 0.2s ease;
    background-color: #56b48c;
}

.btn-link {
    text-decoration: none;
}

.btn-img {
    float: left;
    height: 40px;
    margin-right: 10px;
}

.others {
    display: none;
    margin-top: 10px;
}

.link-others {
    cursor: pointer;
}

.fade {
    display: block;
}
