<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portail YCloud{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href={{ asset('css/main.css') }}>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src={{ asset('js/main.js') }}></script>
            {% if user %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                <style>
                    .swal-wide {
                        width: 60% !important;
                        height: 80% !important;
                    }

                    .swal-content {
                        height: 70%;
                    }
                </style>
                <script type="text/javascript">
                    var div = document.createElement("div");
                    div.innerHTML = "<iframe src='cgu.html' style='border:0;width:100%;height:55vh;'>";

                    swal({
                        title: "Conditions générales d'utilisation",
                        content: div,
                        className: 'swal-wide',
                        buttons: {
                            cancel: {
                              text: "Refuser",
                              value: null,
                              visible: true,
                              className: "",
                              closeModal: true,
                            },
                            confirm: {
                              text: "Accepter",
                              value: true,
                              visible: true,
                              className: "",
                              closeModal: true
                            }
                        }
                    })
                    .then((value) => {
                        if(!value) {
                            window.location.replace('/logout');
                        }
                    });
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
