{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
    <img src={{ asset('img/logo.png') }}>
    <p>Bienvenue sur la plateforme YCloud destinée aux étudiants d’Ynov.<br>
    Cette plateforme vous permettra d'accéder à un ordinateur avec tous vos logiciels à distance.<br>
    <b>Plus besoin d'investir dans un PC dernier cri ou des licences logicielles !</b></p>

    <hr>

    {% if not user %}
        <p>🔓 Vous n'êtes pas connecté</p>
        <a href="{{ path('login') }}">
            <button type="button" class="btn-dl" style="padding-bottom:10px;margin-top:0px;">
                <img src={{ asset('img/login.png') }} style="height:25px;margin-bottom:-3px;margin-right:5px;"> Connexion
            </button>
        </a>
    {% else %}
        <p>🔒 Connecté en tant que <b>{{ user.firstname }} {{ user.lastname }}</b> (<a href="{{ path('logout') }}">Déconnexion</a>)<br>
        #{{ user.id }} - {{ user.email }}</p>

        <hr>
        <table width="100%">
            <!-- MacOS special instructions -->
            <tr id="instructions1" style="display: none;">
                <th width="25%"><img src={{ asset('img/one.png') }}></th>
                <th width="25%"><img src={{ asset('img/two.png') }}></th>
                <th width="25%"><img src={{ asset('img/three.png') }}></th>
                <th width="25%"><img src={{ asset('img/four.png') }}></th>
            </tr>

            <tr id="instructions2">
                <th width="33.3%"><img src={{ asset('img/one.png') }}></th>
                <th width="33.3%"><img src={{ asset('img/two.png') }}></th>
                <th width="33.3%"><img src={{ asset('img/three.png') }}></th>
            </tr>

            <tr>
                <td>Cliquez sur le bouton ci-dessous pour télécharger (selon votre OS) l’accès à votre machine virtuelle.</td>

                <!-- MacOS special instructions -->
                <td id="macOption" style="display: none;">
                    Téléchargez sur l'AppStore l'application <a href="https://itunes.apple.com/fr/app/microsoft-remote-desktop/id715768417?mt=12" target="_blank">Microsoft Remote Desktop</a>.
                </td>

                <td>Ouvrez le fichier téléchargé, et authentifiez-vous avec votre adresse mail Ynov.</td>
                <td>Profitez pleinement de votre plateforme YCloud 😉</td>
            </tr>
        </table>
        <hr>

        <a href="#" class="btn-link" download>
            <button type="button" class="btn-dl">
                <img src="#" class="btn-img">
                Télécharger<br>
                <span id="version"></span>
            </button>
        </a><br>

        <small class="link-others">Autres plateformes</small>
        <div class="others"></div>
    {% endif %}
</div>

{% endblock %}
